<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    <title> {% block title %}{% endblock %} | CoinControl</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>
    <!-- header section -->
    <header>
        <nav>
            <a href="{{ url_for('main.home') }}" class="logo"><img src="{{ url_for('static', filename='img/coincontrol.png') }}" alt="coincontrol-logo"></a>
            <div class="bx bx-menu-alt-right" id="menu-icon"></div>
            <ul class="navlist">
                <li><a href="#">How it works</a></li>
                <li><a href="#">Benefit</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="{{ url_for('auth.login') }}" id="nav-login-btn">Login</a></li> 
                <li><a href="{{ url_for('auth.register') }}" id="nav-btn">Create free account</a></li>
            </ul> 
        </nav>
    </header>
    
    {% for message in get_flashed_messages() %} 
    <div class="success s-alert">
        <div class="success-alert" data-aos="fade-down" data-aos-delay="300">
            <p>{{ message }}</p>   
            <span class="collapse-button" onclick="this.parentNode.style.display='none';"><svg 
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                >
                <path
                d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
                fill="currentColor"
                />
            </svg></span>
        </div>
    </div>
    {% endfor %}
   
    <!-- header section end -->
    {% block content %}
        
    {% endblock %}
    <!-- footer start -->
    <footer>
        <div class="container">
            <p>&copy; 2023 CoinControl. All rights reserved.</p>
        </div>
    </footer>
    <!-- footer end -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script> 
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>

