{% extends 'base.html' %}
{% block title %}Manage your finances easily and more efficiently{% endblock %}
{% block content %}
     <!-- hero section -->
     <div class="hero">
      
        <div class="container">
            <div class="hero-txt">
                <h1>Manage your finances <br> easily and more <br> efficiently.</h1>
                <span>your convenience and comfort in managing <br>day to day finances</span>
                <a href="{{ url_for('auth_bp.register') }}">Lets get started</a>
            </div>
            
            <div class="hero-bg" data-aos="zoom-in">
                <img src="{{ url_for('static', filename='img/hero-bg.png') }}" alt="hero-bg">
            </div>
        </div>
    </div>
    <!-- hero section end -->

    <!-- Features section -->
    <section class="features" id="features">
        <div class="container">
            <span>features</span>
            <h2>Our Special Features</h2>
            <p>Powerful metrics to better understand your finances are right at your fingertips, once you start working with them!</p>

            <div class="feature-bx">
                <div class="bx" data-aos="fade-up" data-aos-delay="300">
                    <div id="expense-icon">
                        <img src="{{ url_for('static', filename='img/expense-icon.png') }}" alt="expense-icon">
                    </div>
                    <h3>Expense Tracking</h3>                
                    <p>Effortlessly track your expenses and categorize them for better financial management.</p>
                </div>
    
                <div class="bx" data-aos="fade-up" data-aos-delay="500">
                    <div id="budget-icon">
                        <img src="{{ url_for('static', filename='img/budget-icon.png') }}" alt="budget-icon">
                    </div>
                    <h3>Budgeting</h3>
                    <p>Set budgets for different spending categories and monitor your progress with visualizations.</p>
                </div>
    
                <div class="bx" data-aos="fade-up" data-aos-delay="700">
                    <div id="report-icon">
                        <img src="{{ url_for('static', filename='img/report-icon.png') }}" alt="report-icon">
                    </div>
                    <h3>Reports</h3>
                    <p>Generate comprehensive reports to gain insights into your financial habits and patterns.</p>         
                </div>
            </div>
          
        </div>
    </section>
    <!-- Features section end -->

    <!-- Benefit section -->
    <section class="benefit" id="benefit">
        <div class="container">
            <div class="benefit-img" data-aos="zoom-in-up" data-aos-delay="300">
                <img src="{{ url_for('static', filename='img/benefit-bg.png') }}" alt="benefit-bg">
            </div>
            
            <div class="benefit-body">
                <h2>What benefit will <br>you get ?</h2>

                <ul class="benefit-list">
                    <li><img src="{{ url_for('static', filename='img/checkmark.png') }}" alt="checkmark">Finance Awareness</li>
                    <li><img src="{{ url_for('static', filename='img/checkmark.png') }}" alt="checkmark">Expense Tracking</li>
                    <li><img src="{{ url_for('static', filename='img/checkmark.png') }}" alt="checkmark">Budgeting Tracking</li>
                    <li><img src="{{ url_for('static', filename='img/checkmark.png') }}" alt="checkmark">Financial Visualization and Reporting</li>
                    <li><img src="{{ url_for('static', filename='img/checkmark.png') }}" alt="checkmark">Financial Goal Achievement</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Benefit section end -->

    <!-- cta section -->
    <section class="call-to-action">
        <div class="container" data-aos="flip-up" data-aos-delay="500">
            <h2>Start Managing Your Finances Today</h2>
            <p>Sign up now and take control of your financial future.</p>
            <a href="{{ url_for('auth_bp.register') }}" class="btn">Sign Up</a>
        </div>
    </section>
    <!-- cta section end  -->
{% endblock %}