*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Balsamiq Sans', cursive;
}


:root{
    --bg-color: #FFFFFF;
    --bold-color: #1A194D;
    --s-bold-color: #62618F;
    --s-light-color: #CBCBD9;
    --light-color: #D9D9D9;
    --button-color: #EE6338;
    --btn-bg: #d9d9d947;
}

body{
    background:var(--btn-bg);
    color: var(--bold-color);
}


h2{
    font-weight: 600;
    font-size: 2rem;
    color: var(--bold-color);
    text-transform: capitalize;
}

h3{
    font-weight: 600;
    font-size: 1rem;
    color: var(--bold-color);
}

span{
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--s-bold-color);
    text-transform: uppercase;
}

section{
    padding: 100px 5%;
}

img{
    width: 100%;
    height: 100%;
}

/* sign in section */
.auth{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1270' height='720' preserveAspectRatio='none' viewBox='0 0 1270 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1225%26quot%3b)' fill='none'%3e%3cpath d='M846.6436158628603-77.66301126188088L738.2938448825463 51.46321756066823 867.4200737050954 159.81298854098225 975.7698446854095 30.686759718433137z' fill='rgba(217%2c 217%2c 217%2c 0.2784313725490196)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M391.1006931147482 530.8340959289542L365.5244359580162 385.7839337021129 220.47427373117497 411.3601908588448 246.05053088790692 556.4103530856861z' fill='rgba(217%2c 217%2c 217%2c 0.2784313725490196)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M913.4 622.67 a236 236 0 1 0 472 0 a236 236 0 1 0 -472 0z' fill='rgba(217%2c 217%2c 217%2c 0.2784313725490196)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M452.44 100.88 a187.64 187.64 0 1 0 375.28 0 a187.64 187.64 0 1 0 -375.28 0z' fill='rgba(217%2c 217%2c 217%2c 0.2784313725490196)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M907.11 80.04 a120.41 120.41 0 1 0 240.82 0 a120.41 120.41 0 1 0 -240.82 0z' fill='rgba(217%2c 217%2c 217%2c 0.2784313725490196)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M94.42369107917347 154.68752466554065L257.05513548876695 286.38387164387086 388.7514824670972 123.75242723427738 226.1200380575037-7.943919744052863z' fill='rgba(217%2c 217%2c 217%2c 0.2784313725490196)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1225'%3e%3crect width='1270' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.auth .container{
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.box-01{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box-01 a:hover{
    cursor: pointer;
}

.box-01 a img{
    width: 170px;
    height: auto;
    object-fit: cover;
}

.box-01 img{
   width: 100%;
   object-fit: cover;
}

.box-02{
    padding: 10px;
    display: flex;
    width: 100%;
    background-color: rgb(223 226 229);
    border-radius: 33px;
    border-radius: 33px;
    border-radius: 40px;
    border-radius: 40px;
    box-shadow: -5px -5px 10px #e8ecef, 5px 5px 10px #d9d9d9;
}
.form-bx{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-bx p{
    font-size: 0.9rem;
}

.form-bx form{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.input-bx{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 15px;
}

.input-bx label{
    padding-bottom: 10px;
    font-size: 1rem;
}

.input-bx input{
    padding: 10px 50px;
    border-radius: 10px;
    border: 2px solid var(--btn-bg);
    transition: all .36s ease;
    background-color: #f2f2f2;
}

.input-bx input:focus{
    border: 2px solid var(--s-bold-color);
}

.input-bx i{
   font-size: 30px;
    position: absolute;
    top: 34px;
    left: 10px;
    color: var(--s-bold-color);
}

.form-bx form a{
    color: var(--s-light-color);
    transition: all .36s ease;
    display: inline-flex;
    justify-content: right;
    font-size: 0.8rem;
    cursor: pointer;
}


.form-bx form a:hover{
    color: var(--s-bold-color);
}
.form-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
.remember{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.remember label{
    font-size: 0.8rem;
    text-transform: capitalize;
    color: var(--s-bold-color);
}
input[type="submit"]{
    padding: 10px;
    border-radius: 10px;
    background-color: #d9d9d947;
    color: var(--bold-color);
    font-weight: 500;
    padding: 10px 30px;
    transition: all .20s ease;
    border: none;
    cursor: pointer;


}

input[type="submit"]:hover{
    color: var(--bg-color);
    background-color: var(--button-color);
}


.line-bx{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line-bx .line{
    background-color: var(--s-light-color);
    width: 45%;
    height: 2px;
    border-radius: 10px;

}
.google-bx{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid #d9d9d947;
    background-color:#f2f2f2;
    padding: 10px 30px;
    border-radius: 10px;

}
.google-bx a{
    color: var(--s-light-color);
    font-size: 0.9rem;
    transition: all .36s ease;
}
.google-bx a:hover{
    color: var(--s-bold-color);
}

.google-bx img{
    width: 30px;
    height: 30px;
}

.form-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.form-footer p, .form-footer a{
    font-size: 0.8rem; 
}

.form-footer p{
    color: var(--s-bold-color);
    border-bottom: 2px solid var(--s-bold-color);


}

.form-footer a{
   color: var(--s-light-color);
   transition: all .36s ease;
}

.form-footer a:hover{
    color: var(--button-color);
 }
/* sign in section end */

/* sign up section */
.form-flex{
    display: flex;
    gap: 10px;
}

.au{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1270' height='720' preserveAspectRatio='none' viewBox='0 0 1270 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1224%26quot%3b)' fill='none'%3e%3cpath d='M824.3884958938299-74.31695084138595L734.2901784146218 36.94520522228048 845.5523344782882 127.04352270148858 935.6506519574964 15.78136663782216z' fill='rgba(217%2c 217%2c 217%2c 0.2784313725490196)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-129.64 253.81 a238.29 238.29 0 1 0 476.58 0 a238.29 238.29 0 1 0 -476.58 0z' fill='rgba(217%2c 217%2c 217%2c 0.2784313725490196)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1253.2782883509726-33.11161483458062L1187.251057727674 54.50947965000438 1274.872152212259 120.53671027330302 1340.8993828355576 32.915615788718014z' fill='rgba(217%2c 217%2c 217%2c 0.2784313725490196)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M408.7143449464023 461.049537626231L430.8793699082328 303.33719011693256 273.16702239893436 281.1721651551021 251.0019974371039 438.8845126644005z' fill='rgba(217%2c 217%2c 217%2c 0.2784313725490196)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M586.8056891666702 189.7037847834127L586.8056891666702 61.5617405241986 458.66364490745605 61.561740524198626 458.66364490745605 189.70378478341271z' fill='rgba(217%2c 217%2c 217%2c 0.2784313725490196)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M599.2515366067175 33.77283357873067L442.91599283193887 100.1333347895585 509.27649404276667 256.4688785643372 665.6120378175453 190.10837735350935z' fill='rgba(217%2c 217%2c 217%2c 0.2784313725490196)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1224'%3e%3crect width='1270' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
/* sign up section end */

/* .unconfirmed section */
.unconfirmed{
   padding: 20px 5%;
}

  
.unconfirmed .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #d9d9d94a;

}
/* .box-img{
    width: 500px;
} */

.box-img img{
    width: 100%;
    
}

.box-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-text h2{
    font-size: 1.2rem
}

.box-text p{
    font-size: 0.9rem;
    color: #1e3c87;
}

.box-text p a{
    color: var(--s-bold-color);
    transition: all .36s ease;
}

.box-text p a:hover{
    color: var(--button-color);
}

.box-text a img{
    width: 100px;
}


/* alert */
.success{
    width: 100%;
    /* padding: 0 5%; */
    transition: all .10s ease-in-out;
    margin-bottom: 5px;
}

.success-alert{
    padding: 5px;
    width: 100%;
    background-color: #4fc069;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.success-alert p{
    font-size: 0.8rem;
    color: var(--bg-color);
}

.collapse-button{
   color: var(--bg-color);
}
.errors li{
    margin-top: 5px;
    list-style: inside;
    font-size: 0.8rem;
    color: rgb(218, 60, 60);
}
/* footer section */
footer {
    width: 100%;
    background-color: #f9f9f9;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

footer .container p {
    color: var(--s-bold-color);
    font-size: 1rem;
}
/* footer section ends */

@media (max-width:1000px) {
   section{
    padding: 50px 3%;
   }
     .auth .container{
        flex-wrap: wrap;
        margin: auto;
    }

    .form-flex {
        flex-wrap: wrap;
        gap: 0;
    } 

}

@media (max-width:320px) {
    .box-01 a img {
        width: 150px;
    }

    h2{
        font-size: 1.5rem;
    }

    .form-bx p{
        font-size: 0.8rem;
    }

    .input-bx label{
        font-size: 0.8rem;
    }

   
    footer .container p {
        font-size: 0.8rem;
    }
 }

 @media (max-width:280px) {

    .input-bx input {
        padding: 10px 40px 10px 50px;
    }

    .input-bx i {
        top: 30px;
        left: 10px;
    }

    .google-bx {
       gap: 10px;
    }

    .google-bx a{
        font-size: 0.8rem;
    }

    .form-footer p, .form-footer a{
        font-size: 0.7rem;
    }
 }