*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Balsamiq Sans', cursive;
}


:root{
    --bg-color: #FFFFFF;
    --bold-color: #1A194D;
    --s-bold-color: #62618F;
    --s-light-color: #CBCBD9;
    --light-color: #D9D9D9;
    --button-color: #EE6338;
    --btn-bg: #d9d9d947;
}

body{
    background:var(--bg-color);
    color: var(--bold-color);
}


h2{
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--bold-color);
    text-transform: capitalize;
}

h3{
    font-weight: 600;
    font-size: 1rem;
    color: var(--bold-color);
}

span{
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--s-bold-color);
    text-transform: uppercase;
}


/* header section */
header{
    width: 100%;
    padding: 20px 5%;
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    transition: all .35s ease;
    background-color: var(--bg-color);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 170px;
    height: auto;
}

.logo img{
    width: 100%;
}

.menu{
    width: 25px;
    height: auto;
}

.menu img{
    width: 100%;
    display: none;
}

.navlist{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlist li{
    padding: 10px;
}

.navlist li a{
    font-size: 1rem;
    color: var(--s-bold-color);
    transition: all .36s ease;
}

.navlist li a:hover{
    color: var(--button-color);
}

#nav-login-btn{
    background-color: #d9d9d947;;
    color: var(--bold-color);
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 10px;
    transition: all .20s ease;
}
#nav-btn{
    border: 2px solid #d9d9d947;
    background-color: var(--bg-color);
    padding: 10px 30px;
    border-radius: 10px;
    transition: all .20s ease;
}
#nav-login-btn:hover{
    color: var(--button-color);
    background-color: var(--bg-color);
}
#nav-btn:hover{
    color: var(--bg-color);
    border: 2px solid var(--button-color);
    background-color: var(--button-color);
}

/* header section ends */

/* hero section */
.hero{
    position: relative;
    
}

.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 5% 50px 5%;
    min-height: 100vh;
}
.hero-txt{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-txt h1{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.hero-txt span{
    font-size:1rem;
    text-transform: lowercase;
}

.hero-txt a{
    color: var(--s-bold-color);
    border-bottom: 2px dashed var(--s-bold-color);
    width: 150px;
    font-weight: 500;
    padding: 7px 0;
    transition: all .36s ease;
}

.hero-txt a:hover{
    color: var(--button-color);
    border-bottom: 2px dashed var(--button-color);
}

.hero-bg{
    width: 50%;
}

.hero-bg img{
    width: 100%;
    height: auto;
}

/* hero section end */


/* features section */
section{
    padding: 50px 5%;
}

.features .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.features .container p{
    font-size: 1rem;
    font-weight: 300;
    color: var(--s-bold-color);
}

.feature-bx{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, auto));
    gap: 1.3rem;
    align-items: center;
    margin-top: 3rem;
}

.feature-bx .bx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border-radius: 1rem;
    background-color: #f2f2f2;
    padding: 50px;
    transition: all .35s ease;
}

.feature-bx .bx:hover{
    transform: scale(0.9) translateY(-5px);  
    cursor: pointer;
}

#expense-icon, #budget-icon, #report-icon{
    display: inline-flex;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
}


#expense-icon img, #budget-icon img, #report-icon img{
    width: 100%;
    object-fit: cover;
}

#expense-icon{
    background-color: var(--bold-color);
}

#budget-icon{
    background-color: var(--button-color);
}

#report-icon{
    background-color: #1FB141;
}

.feature-bx .bx p{
    font-size: 0.8rem;
    color: var(--s-bold-color);
    letter-spacing: 0.5px;
}

/* feature section end */

/* benefit section */
.benefit .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.benefit-img{
    width: 55%;
    background-color: aliceblue;
    border-radius: 30px 0;
}

.benefit-img img{
    width: 100%;
   
}

.benefit-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.benefit-list li{
    padding-top: 20px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}
/* Benefit section end */

/* cta section */
.call-to-action .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--s-bold-color);
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
    
}

.call-to-action .container h2, .call-to-action .container p{
    color: var(--bg-color);
}

.call-to-action .container h2{
    font-weight: 400;
    font-size: 2rem;
}

.call-to-action .container p{
    font-size: 1rem;
}

.call-to-action .container a{
    background-color: #d9d9d947;
    color: var(--light-color);
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 10px;
    transition: all .20s ease;
}

.call-to-action .container a:hover{
    background-color: var(--button-color);
    color: var(--bg-color);
}

