{% extends 'auth/base.html' %}
{% block title %}Account recovery{% endblock %}
<!--Sign in section -->
{% block content %}
    <section class="auth au">
        <div class="container">

            <div class="box-01">
                <a href="{{ url_for('main.home')}}" class="logo"><img src="{{ url_for('static', filename='img/coincontrol.png') }}" alt="coincontrol-logo"></a>
                <img src="{{ url_for('static', filename='img/signup-bg.png') }}" alt="signup-bg"> 
            </div>
            <div class="box-02">
                <div class="form-bx">
                    <h2>Reset your Password</h2>
                    <p>what would you like your new password to be ?</p>
                    <form action="{{ url_for('auth.confirmpassword', token=token) }}" method="POST"> 
                        {{ form.hidden_tag()}}
                        <div class="input-bx">
                            {{ form.password.label}}
                            {{ form.password(placeholder="At least 8 characters")}}
                            <i class='bx bx-lock-alt'></i>
                            {% if form.password.errors %}
                                <ul class="errors">
                                {% for error in form.password.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                    <div class="input-bx">
                            {{ form.confirm_password.label}}
                            {{ form.confirm_password(placeholder="At least 8 characters")}}
                            <i class='bx bx-lock-alt'></i>
                            {% if form.confirm_password.errors %}
                                <ul class="errors">
                                {% for error in form.confirm_password.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                    </div>

                        {{ form.submit}}
                    </form>

                    <div class="form-footer">
                        <a href="{{ url_for('auth.login') }}">Back to Login</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!--Sign in section end -->