{% extends 'auth/base.html' %}
{% block title %}Sign in{% endblock %}
<!--Sign in section -->
{% block content %}
    <section class="auth">
      
     
            {% for message in get_flashed_messages() %}
            <div class="success">
                <div class="success-alert" data-aos="fade-left" data-aos-offset="400" data-aos-easing="ease-in-out">
                    <p>{{ message }}</p>   
                    <span class="collapse-button" onclick="this.parentNode.style.display='none';"><svg 
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                        d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
                        fill="currentColor"
                        />
                    </svg></span>
                </div>
            </div>
            {% endfor %}

        
        <div class="container">
            <div class="box-01">
                <a href="{{ url_for('main_bp.home') }}" class="logo"><img src="{{ url_for('static', filename='img/coincontrol.png') }}" alt="coincontrol-logo"></a>
                <img src="{{ url_for('static', filename='img/signin-bg.png') }}" alt="signin-bg"> 
            </div>
            
            <div class="box-02">
                <div class="form-bx">
                    <h2>Welcome back!</h2>
                    <p>Start managing your finance faster and better.</p>
                    <form action="{{ url_for('auth.login') }}" method="post"> 
                        {{ form.hidden_tag() }}
                        <div class="input-bx">
                            {{ form.email.label}}
                            {{ form.email(placeholder="you@coincontrol.com")}}
                            <i class='bx bx-envelope'></i>
                            {% if form.email.errors %}
                                <ul class="errors">
                                {% for error in form.email.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                         <div class="input-bx">
                            {{ form.password.label}}
                            {{ form.password(placeholder="At least 8 characters")}}
                            <i class='bx bx-lock-alt'></i>
                            {% if form.password.errors %}
                                <ul class="errors">
                                {% for error in form.password.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                       <div class="form-bottom">
                            <span class="remember">
                                {{ form.remember }}
                                {{ form.remember.label }}
                            </span>

                            <a href="{{url_for('auth.forgotpassword')}}">Forgot password?</a>
                       </div>
                        
                        {{ form.submit}}
                    </form>

                    <div class="line-bx">
                        <span class="line"></span>
                        <p>or</p>
                        <span class="line"></span>
                    </div>

                    <div class="google-bx">
                        <img src="{{ url_for('static', filename='img/google.svg') }}" alt="google-icon"> 
                        <a href="{{ url_for('auth.google_oauth_login')}}">Sign in with Google</a>
                    </div>
                    
                    <div class="form-footer">
                        <p>Don't you have an account?</p><a href="{{ url_for('auth.register') }}">Sign Up</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!--Sign in section end -->