{% extends 'auth/base.html' %}
{% block title %}Sign in{% endblock %}
<!--Sign in section -->
{% block content %}
    <section class="sign-in">
        <div class="container">

            <div class="box-01">
                <a href="#" class="logo"><img src="{{ url_for('static', filename='img/coincontrol.png') }}" alt="coincontrol-logo"></a>
                <img src="{{ url_for('static', filename='img/signin-bg.png') }}" alt="signin-bg"> 
            </div>
            <div class="box-02">
                <div class="form-box">
                    <form action="">
                        
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!--Sign in section end -->