{% extends 'auth/base.html' %}
{% block title %}Email confirmation{% endblock %}

{% block content %}
    <section class="unconfirmed">
        {% for message in get_flashed_messages() %}
        <div class="success">
            <div class="success-alert" data-aos="fade-down" data-aos-delay="300">
                <p>{{ message }}</p>   
                <span class="collapse-button" onclick="this.parentNode.style.display='none';"><svg 
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <path
                    d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
                    fill="currentColor"
                    />
                </svg></span>
            </div>
        </div>
        {% endfor %}
        <div class="container">
            <h2>Email Confirmation</h2>
            <p>Dear {{ current_user.username}}</p>
            <p>We noticed that you have not confirmed your email address yet to activate your account on our platform. 
            To complete the registration process, We have sent email to {{ current_user.email }} to confirm the validity of your email address. After
            receiveing the email follow the link provided to complete the registration.
            </p>            
            <p>Didnt get the email? <a href="{{ url_for('auth.resend_confirmation')}}">Resend confirmation mail</a></p>
            <p>By clicking on the link, a new confirmation email will be sent to your registered email address. 
            Please follow the instructions in the email to confirm your account and gain full access to our services.</p>
            <p>If you have already confirmed your email address or believe you received this message in error, please disregard it.</p>
            <p>If you need any assistance or have any questions, please feel free to reach out to our support team at <a href="mailto:support@coincontrol.com">support@coincontrol.com</a>.</p>
            <p>Thank you for choosing our platform. We appreciate your cooperation.</p>
            <p>Best regards,</p>
            <a href="{{ url_for('main.home') }}" class="logo"><img src="{{ url_for('static', filename='img/coincontrol.png') }}" alt="coincontrol-logo"></a>
        </div>
    </section>
{% endblock %}